<% if (item.prev || item.next) { %>
<nav id="article-nav">
    <% if (item.prev) { %>
    <a href="<%- url_for(item.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">&lt;</strong>
        <div class="article-nav-title">
            <% if (item.prev.title) { %>
                &nbsp; <%= item.prev.title %>
            <% } else { %>
            (no title)
            <% } %>
        </div>
    </a>
    <% } %>
    <% if (item.next) { %>
    <a href="<%- url_for(item.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
        <div class="article-nav-title">
            <%= item.next.title %> &nbsp;
        </div>
        <strong class="article-nav-caption">&gt;</strong>
    </a>
    <% } %>
</nav>
<% } %>