<div class="bdsharebuttonbox">
    <a href="#" class="fx fa fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-weixin bds_weixin" data-cmd="weixin" title="分享到微信" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-qq bds_sqq" data-cmd="sqq" title="分享到QQ好友" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-facebook-official bds_fbook" data-cmd="fbook" title="分享到Facebook" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-twitter bds_twi" data-cmd="twi" title="分享到Twitter" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-linkedin bds_linkedin" data-cmd="linkedin" title="分享到linkedin" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-files-o bds_copy" data-cmd="copy" title="复制网址" data-toggle='tooltip'></a>
    <a href="#" class="fx fa fa-envelope-o bds_mail" data-cmd="mail" title="通过邮件分享" data-toggle='tooltip'></a>
    <!-- <a href="#" class="fx fa-share-alt bds_more" data-cmd="more"></a> -->
</div>
<script>
    window._bd_share_config={
        "common":{
            "bdSnsKey":{}
            ,"bdText":"<% if (page.title){ %><%- page.title %> | <% } %><%- config.title %>"
            ,"bdMini":"2"
            ,"bdMiniList":false
            ,"bdPic":""
            ,"bdStyle":"2"
            ,"bdSize":"24"
        }
        ,"share":{}
    };
    
    with(document)0[
        (getElementsByTagName('head')[0]||body)
        .appendChild(createElement('script'))
        .src="<%- url_for(theme.baidushare.path + 'static/api/js/share.js') %>" + "?v=89860593.js?cdnversion="+~(-new Date()/36e5)
    ];
</script>