<div class="article-label">
    <% if (item.top) { %>
        <span class="article--top label">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            <a href="javascript:void(0)" class="color<%= Math.floor((Math.random() * 5) + 1) %>">置顶</a>
        </span>
    <% } %>
    <% if (item.categories && item.categories.length){ %>
    <div class="article-category label">
        <i class="fa fa-book" aria-hidden="true"></i>
        <%- list_categories(item.categories, {
                show_count: false
                , class: 'color' + Math.floor((Math.random() * 5) + 1) + ' article-category'
                , style: 'none'
                , separator: ''
        }) %>
    </div>
    <% } %>
    <% if (item.tags && item.tags.length){ %>
    <div class="article-tag label">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <%- list_tags(item.tags, {
                show_count: false
                , class: 'color' + Math.floor((Math.random() * 5) + 1) + ' article-tag'
                , style: 'none'
                , separator: ''
        }) %>
    </div>
    <% } %>
</div>