// set cursor | 设置鼠标指针图标
$cursor--normal = \/hexo-config("cursor.normal");
$cursor--link   = \/hexo-config("cursor.link");


// set backgroud and font color | 设置背景和字体颜色
$back-color--body    = #3f3f3f;
$font-color--article = #999;

$font-color--head    = #4298cc;


// set header height | 设置菜单栏高度
$header-height = 60px;
