// set backgroud and font color | 设置背景和字体颜色
$back-color--body    = #3f3f3f;
$back-color--border  = #2f2f2f;
$back-color--hover   = #5e5e5e;

$font-color--article = #999;
$font-color--hover   = #fff;
$font-color--head    = #4298cc;


// set font family | 设置字体
$font-family--body   = -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family--head   = Allura, Tahoma, Arial, "Microsoft YaHei", sans-serif;

// set header height | 设置导航栏高度
$header-height = hexo-config("header_height")px;

// set header background img | 设置导航栏背景图片
$header-bg-img = "../" + hexo-config("header_bg_img");
