@media (max-width: 991px) {
    .container .row {
        display: flex;
        flex-flow: column;
    }

    #right-col { order: -1; }

    #tagcloud, .friends, .revolvermaps, #sidebar-sticky--bottom {
        display: none;
    }

    #footer {
        .copyright-info {
            float: none;
        }

        .site-info {
            float: none;
        }
    }

    #pagination--nav .extend {
        opacity: 1;
    }
}

@media (max-width: 575px) {
    .scroll {
        margin-left: 0px; 
    }
}

@media (max-width: 479px) {
    #site-title {
        a {
            img {
                display: none;
            }

            span {
                font-size: 30px;
            }
        }
    }
}
