@import "_variables"

@font-face {
    font-family: "Allura";
    src: local("Allura"),
         url("/fonts/Allura-Regular.woff") format("woff"),
         url("/fonts/Allura-Regular.ttf") format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: $font-color--article;
    background: $back-color--body;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $font-color--hover;
        text-decoration: none;
    }
}

.div-border {
    border: 1px solid $back-color--border;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.46);
}

#header {
    min-height: $header-height;
    line-height: $header-height;
    color: $font-color--head;
}

a#avatar {
    color: $font-color--head;
    line-height: $header-height;
    min-height: $header-height;

    img {
        width: $header-height;
        height: $header-height;
        margin-right: 6px;
        vertical-align: middle;
        border-radius: $header-height;
    }

    span {
        font-family: Allura, Tahoma, Arial, "Microsoft YaHei", sans-serif;
        font-size: $header-height - 20px;
        font-weight: 700;
        line-height: $header-height - 10px;
        vertical-align: middle;

        &:hover {
            color: $font-color--hover;
        }
    }
}

#navbar-toggler--btn {
    color: $font-color--head;

    &:focus {
        outline: none;
    }

    &:hover {
        border-color: $font-color--hover;
    }
}

#pagination--nav {
	text-align: center;
	margin-top: 30px;
	.page-number{
		width: 20px;
		height: 20px;
		background: $back-color--border;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		display: inline-block;
		color: $font-color--hover;
		line-height: 20px;
		font-size: 12px;
		margin: 0 3px 30px;
		&:hover{
			background: $back-color--hover;
		}
	}
	.current{
		background: $font-color--head;
		cursor: default;
		&:hover{
			background: $font-color--head;
		}
	}
	.extend{
		color: $font-color--article;
		margin: 0 27px;
		opacity: 0;
		&:hover{
			color: $font-color--hover;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}

.article-header {
    padding: 15px 0px 15px 25px;
    font-size: 26px;
    color: $font-color--head;

    .article-title--post {
        text-align: center;
    }
}