@media (max-width: 767px) {
    #sidebar {
        display: none;
    }

    .scroll {
        margin-left: -30px; 
    }

    #footer {
        .copyright-info {
            float: none;
        }

        .site-info {
            float: none;
        }
    }
}