@import "nib"
@import "_variables"

global-reset()

@font-face {
    font-family: "Allura";
    src: local("Allura"),
         url("/fonts/Allura-Regular.woff") format("woff"),
         url("/fonts/Allura-Regular.ttf") format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
	scroll-behavior: smooth;	// 平滑的切换或滚动页面
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font-family--body;
    font-size: 16px;
    color: $font-color--article;
    background: $back-color--body;
    word-wrap: break-word;	// 自动换行
    // word-break: break-all;	// 强制英文单词换行
	// white-space: pre-wrap;	// 保留文本空白序列，并正常换行
}

header, main, section, footer, aside, nav, article, figure {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $font-color--hover;
        text-decoration: none;
    }
}

img, object, video { 
	max-width: 100%;
}

.div-border {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid $back-color--border;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.46);
    border-radius: 6px;
}


#pagination--nav {
	text-align: center;
	margin-top: 30px;
	.page-number{
		width: 20px;
		height: 20px;
		background: $back-color--border;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		display: inline-block;
		color: $font-color--hover;
		line-height: 20px;
		font-size: 12px;
		margin: 0 3px 30px;
		&:hover{
			background: $back-color--hover;
		}
	}
	.current{
		background: $font-color--head;
		cursor: default;
		&:hover{
			background: $font-color--head;
		}
	}
	.extend{
		color: $font-color--article;
		margin: 0 27px;
		opacity: 0;
		&:hover{
			color: $font-color--hover;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}


@import "_partial/header"
@import "_partial/article"
@import "_partial/archive"
@import "_widget/highlight"
@import "_widget/codeblock"
@import "_widget/scroll"
@import "_widget/pace-theme-flash"
