@media (max-width: 767px) {
    #sidebar, #site-tool {
        display: none;
    }

    #footer {
        .copyright-info {
            float: none;
        }

        .site-info {
            float: none;
        }
    }
}