<% page.posts.each(function(item) { %>
    <%- include('post/title', {item: item, class_name: 'article-title--index'}) %>
<% }) %>

<% if (page.total > 1) { %>
<nav id="pagination--nav" class="text-center">
    <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
    }) %>
</nav>
<% } %>