<% page.posts.each(function(item) { %>
    <%- include('article', {item: item, is_post: false}) %>
<% }) %>

<% if (page.total > 1) { %>
<div class="text-center">
    <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
    }) %>
</div>
<% } %>