<!-- 首先渲染置顶文章 -->
<% if (page.current == 1) { %>
    <% site.posts.each(function(item) { %>
        <% if (item.top) { %>
            <%- include('article', {item: item, is_post: false}) %>
        <% } %>
    <% }); %>
<% } %>

<!-- 然后渲染其它文章 -->
<% page.posts.each(function(item) { %>
    <% if (!item.top) { %>
        <%- include('article', {item: item, is_post: false}) %>
    <% } %>
<% }) %>

<% if (page.total > 1) { %>
<nav id="pagination--nav" class="text-center">
    <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
    }) %>
</nav>
<% } %>