#comments {
    margin-top: 20px;
    padding: 30px;
}

// gitalk 自定义样式
.gt-container {

    .gt-meta {
        margin-top: 0; 
    }

    .gt-svg {
        vertical-align: unset;
    }

    .gt-ico-text {
        vertical-align: middle;
    }
} 