.article-label {
    margin-top: 10px;
}

.article-category.label {
    float: left;
    margin-right: 20px;
}

.article--top.label {
    float: right;
}

.label {
    font-size: 16px;

    .fa {
        vertical-align: middle;
        font-size: 18px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        height: 18px;
        line-height: 18px;
        padding: 0 5px 0px 10px;
        position: relative;
        border-radius: 0 5px 5px 0;
        margin: 5px 9px 5px 8px;

        &:hover {
            opacity: 0.8;
        }

        &:before {
            content: ' ';
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0;
            left: -18px;
            border: 9px solid transparent;
        }

        &:after {
            content: ' ';
            width: 4px;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 7px;
            left: 2px;
        }
    }

    a.color1 {
        background: #39b3d7;

        &:before {
            border-right-color: #39b3d7;
        }
    }

    a.color2 {
        background: #EE6252;

        &:before {
            border-right-color: #EE6252;
        }
    }

    a.color3 {
        background: #4cae4c;

        &:before {
            border-right-color: #4cae4c;
        }
    }

    a.color4 {
        background: #E23794;

        &:before {
            border-right-color: #E23794;
        }
    }

    a.color5 {
        background: #f0ad4e;

        &:before {
            border-right-color: #f0ad4e;
        }
    }
}