.article-header {
    border-left: 5px solid $font-color--head;
    padding: 15px;
    font-size: 26px;
    color: $font-color--head;

    &:hover {
        border-left: 5px solid $font-color--hover;
    }

    section {
        // display: inline;
    }

    .article-title--post {
        text-align: center;
    }

    .article-date.article-title--post {
        display: none;
    }

    .article-date {
        float: right;
    }
}