.article {
}

.article-content {
    line-height: 1.8em;
    padding-right: 30px;
    padding-left: 30px;

    p {
        margin-top: 10px;

        // mathjax公式超出页面部分滚动
        span.math.display {
	        overflow: auto;
	        display: block;
        }
    }

    a {
        color: $font-color--head;
    }
}

.article-content--excerpt {
    display: block;
}

.article-content--all {
    display: none;
}


.article-content-more {
    text-align: center;
    width: 100%;
    
    &:hover {
        padding-top: 16px;
        background-image: -webkit-radial-gradient(300px 20px ellipse at top, $font-color--head,rgba(153,153,153,0));
        background-image: radial-gradient(300px 20px ellipse at top, $font-color--head,rgba(153,153,153,0));
        border-radius: .25rem;
    }

    .article-more--link {
        width: 100%;
        color: $font-color--head;
        font-size: 1rem;
        line-height: 1;
        background-color: rgba(153, 153, 153, 0);
        border: 1px solid transparent;
        border-radius: .25rem;

        &:focus {
            outline: none;
        }

        &:hover {
            color: $font-color--hover;
        }
    }
}

@import "post/title"
@import "post/label"
@import "post/copyright"