.article {
}

.article-header {
    padding: 15px 0px 15px 25px;
    font-size: 26px;
    color: $font-color--head;

    .article-title--post {
        text-align: center;
    }
}

.article-content {
    line-height: 1.8em;
    padding-right: 30px;
    padding-left: 30px;

    p {
        margin-top: 10px;
    }

    a {
        color: $font-color--head;
    }

    .line {
        height: 29px;
    }
}