#footer {
    padding: 30px;
    font-size: 14px;

    a {
        color: $font-color--hover;

        &:hover {
            color: $font-color--head;
        }
    }

    .copyright-info {
        float: left;
    }

    .site-info {
        float: right;
    }
}

@media (max-width: 767px) {
    #footer {
        .copyright-info {
            float: none;
        }

        .site-info {
            float: none;
        }
    }
}