#sidebar {
	.author-info {
		padding: 15px;
		text-align: center;

		.header-avatar {
			width: 50%;
			height: 50%;
			border-radius: 50%;
			box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 2px 20px 3px rgba(0, 0, 0, 0.25);
		}

		.header-author {
			margin-top: 10px;
			color: $font-color--head;
			font-family: $font-family--head;
			font-size: 30px;
			font-weight: 700;

			&:hover {
				color: $font-color--hover;
			}
		}

		.header-slogan {
			margin-top: 10px;
			color: $font-color--hover;
			line-height: 1.6em;
		}

		.social-info {
			margin-top: 10px;
			text-align: center;

			.social-icon {
				width: 28px;
				height: 28px;
				margin: 5px;
				text-align: center;
				font-size: 20px;
				line-height: 26px;
				color: $font-color--head;
				vertical-align: middle;
				border: 1px solid $font-color--hover;
				border-radius: 50%;
				display: inline-block;

				&:hover {
					color: $font-color--hover;
					border: 1px solid #00abff;
				}
			}
		}
	}
}