.scroll {
	margin-left: -15px;
	text-align: center;
    line-height: 42px;
	position: fixed;
	bottom: 40px;
	z-index: 999;
    
    a {
        display: block;
        width: 29px;
        height: 42px;
        font-size: 28px;

        &:last-child {
            border-bottom: none;
        };

        &:hover {
            background: rgba(147, 181, 224, .3) !important; 
			
            .fa {
                color: white;
            }
        }

        .fa {
            color: rgba(255, 255, 255, .8);
        }
    }
}
